@import url('./global/reset.css');
@import url('./global/typography.css');
@import url('./global/colors.css');
@import url('./components/home/navbar/navbar.css');
@import url('./components/home/main/main.css');
@import url('./components/home/main/list_of_products.css');
@import url('./components/home/main/search.css');
@import url('./components/home/home.css');
@import url('./spinners/spinner.css');

body {
  background-color: rgba(195, 195, 195, 0.9);
  padding: 1rem;
  position: relative;
}
