.spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading-wrapper {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loading-wrapper div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation: lds-grid 1.2s linear infinite;
}

.loading-wrapper div:nth-child(1) {
  top: 6px;
  left: 6px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--primary-100) 0%,
    var(--red-1) 100.2%
  );
  animation-delay: 0s;
}

.loading-wrapper div:nth-child(2) {
  top: 6px;
  left: 26px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--primary-200) 0%,
    var(--red-2) 100.2%
  );
  animation-delay: -0.4s;
}

.loading-wrapper div:nth-child(3) {
  top: 6px;
  left: 45px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--primary-100) 0%,
    var(--red-1) 100.2%
  );
  animation-delay: -0.8s;
}

.loading-wrapper div:nth-child(4) {
  top: 26px;
  left: 6px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--primary-200) 0%,
    var(--red-1) 100.2%
  );
  animation-delay: -0.4s;
}

.loading-wrapper div:nth-child(5) {
  top: 26px;
  left: 26px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--primary-300) 0%,
    var(--red-2) 100.2%
  );
  animation-delay: -0.8s;
}

.loading-wrapper div:nth-child(6) {
  top: 26px;
  left: 45px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--primary-200) 0%,
    var(--red-1) 100.2%
  );
  animation-delay: -1.2s;
}

.loading-wrapper div:nth-child(7) {
  top: 45px;
  left: 6px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--primary-100) 0%,
    var(--red-1) 100.2%
  );
  animation-delay: -0.8s;
}

.loading-wrapper div:nth-child(8) {
  top: 45px;
  left: 26px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--primary-200) 0%,
    var(--red-2) 100.2%
  );
  animation-delay: -1.2s;
}

.loading-wrapper div:nth-child(9) {
  top: 45px;
  left: 45px;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--primary-100) 0%,
    var(--red-2) 100.2%
  );
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
